.ex_list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.ex_list li {
    width: 220px;
    height: 220px;
    overflow: hidden;
    text-align: center;
}

.img {
    width: auto;
    height: 100%;
}
